@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Bold.ttf') format('ttf'),
  url('fonts/Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Regular.ttf') format('ttf'),
  url('fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: 500;
}